* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Tilt Neon';
}

.card-title {
  font-size: 54px;
  color: rgb(0, 0, 0);
}

.card-text {
  font-size: 32px;
  color: black;
}

.col-2, .col-8 {
  border: 2px solid black;
  border-radius: 5px;
  text-align: center;
}

.upcoming {
  background-color: blue;
}

.current {
  background-color: green;
}

.expired {
  background-color: grey;
}